@mixin btn {
    font-size: 20px;
    color: #fff;
    padding: 10px 20px 10px 50px;
    border-radius: 5px;
    background-color: $primaryColor;
    font-weight: 700;
    transition: all .5s;
    &:hover {
        color: #fff;
        background-color: rgb(202, 130, 53);
    }
    span{
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background: url(../../assets/img/telephone-fill.svg);
            width: 20px;
            height: 20px;
            left: -25px;
            top: 50%;
            transform: translateY(-40%);
        }
    }
}

$primaryColor: rgba(197,143,86,1);

* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

body{
    outline: 1px solid red;
    margin: auto;
    padding: 0;
    font: 16px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 320px;
    color: rgba(60,60,60,1);
}

//header
.header {
    background-color: $primaryColor;
    height: 50px;
}
//locksmith
.locksmith {
    font-family: Verdana, Geneva, sans-serif;
}
.locksmith__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.locksmith__img {
    width: 100%;
}
.locksmith__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    ul {
        margin: 40px 0;
        padding-left: 20px;
    }
}
.locksmith__title {
    font-size: 33px;
    font-weight: bold;
    line-height: 1.2;
}
.locksmith__list {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
}
.locksmith__btn {
    @include btn();
}
//troubleshooting
.troubleshooting {
    margin-top: 80px;
    font-family: Verdana, Geneva, sans-serif;
}
.troubleshooting__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.troubleshooting__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 50px;
}
.troubleshooting__dscr {
    font-size: 16px;
    letter-spacing: normal;
    line-height: 1.5;
}

.troubleshooting__img {
    width: 100%;
    border-radius: 5px;
}
//team
.team {
    margin-top: 100px;
    font-family: Verdana, Geneva, sans-serif;
}
.team__title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.1;
    margin-bottom: 50px;
}
.team__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.team__wrapper2 {
    outline: auto;
    padding: 10px;
}
.team__wrapper {
    height: 280px;
}
.team__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.team__name {
    font-weight: 700;
    margin: 5px 0;
}
.team__age {
    margin: 5px 0;
}
.team__dol {
    margin: 5px 0;
    span{
        font-weight: 700;
    }
}
//time
.time {
    margin-top: 100px;
    font-family: Verdana, Geneva, sans-serif;
}
.time__title {
    margin-bottom: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.1;
}
.time__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.time__inner {
    display: flex;
    align-items: center;
    gap: 20px;
}
.time__name {
    font-weight: bold;
}
//ambulance
.ambulance {
    background-color: $primaryColor;
    margin: 70px 0;
}
.ambulance__box {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.ambulance__title {
    margin: 0;
    font-weight: 700;
}
.ambulance__btn {
    @include btn();
    background-color: black;
    &:hover {
        background-color: rgb(108, 64, 64);
    }
}